.first-section{
  background-color: #fff;
}

.first-section__inner{
  display: flex;
  justify-content: space-between;
}

.first-section__text{
  width: 450px;
  padding-bottom: 80px;
  padding-top: 90px;
}

.first-section__title {
  color: #222F33;
}

.first-section__paragraph{
  color: #646D70;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 60px;
}

.first-section__button{
  width: 90px;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  color: #606B74;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #606B74;
  font-family: Rubik;
  font-weight: 500;
}

/* .first-section__image {
  color: transparent;
  background: url(../images/first_section.svg) no-repeat right;
} */




/* .first-section__image img {
  max-width: 100%; 
  max-height: auto; 
} */

.first-section__image {
  /* max-width: 40%; */
  display: flex; 
  justify-content: flex-end; 
}


/* .first-section__image {
  width: 50%; 
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
}

.first-section__image img {
  width: 100%;
  height: auto;
  object-fit: cover; 
} */

