.finally-end{
  background-color: #222F33;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  /* margin-top: 0px; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.6;
}

.logo{
  display: flex;
  align-items: center;
  /* width: 10%;
  height: auto; */
}

.footer__nav ul {
  display: flex;
  align-items: center;
}

.footer__nav-item {
  font-weight: 500;
  margin-left: 40px;
  font-size: 14px;
  opacity: 0.6;
}

