.header {
  /* margin-top: 0px; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
}

/* .logo img{
  width: 130%;
  height: auto;
} */

.header__nav ul {
  display: flex;
  align-items: center;
}

.header__nav-item {
  font-weight: 500;
  margin-left: 40px;
  font-size: 14px;
}

.header__button{
  width: 90px;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #606B74;
  padding-top: 12px;
  padding-bottom: 12px;
}
