footer {
    border-top: 1px solid rgb(202, 186, 17);
}

.footer__container {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 2px solid rgb(202, 186, 17)
}

.additional__container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside > img {
    width: 70px;
    margin-right: 170px;
}

.text {
    width: 360px;
}

.text > h3 {
    font-size: 18px;
} 

.text > p {
    font-size: 16px;
}

.quote {
    padding-top: 15px;
}

.philosoph {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.links {
    display: flex;
}

.link > li {
    /* width: 25px; */
    row-gap: 25px;
}

.link {
    width: 27px;
    height: 27px;
}

.copyright {
    font-size: 14px;
}
