.first-section__button:hover,
.header__button:hover {
  background-color: #222f33;
  scale: 2;
  color: #fff;
}
@keyframes wider {
  0% {
    width: 85px;
    height: 85px;
  }
  25% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 130px;
    height: 130px;
  }
  75% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 85px;
    height: 85px;
  }
}


@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-15px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}